#tableHistoryCur
{
	 background: Bisque;
	 width:600px;	
}
input[name=ammount]
	 {
	 background-color:White;
     width:280px;
	 }
input[name=AlfaCur]
	 {
     margin-left: 10px;
     width:130px;
	 background: Thistle; 
	 }
input[name=AmmountVal]
	 {
	 background: Gainsboro; 
	 }

#hisStart, #hisEnd
	 {
	 background-color:White;
	 width:260px;
	 text-align: center;
	 }
.tdDown 
	 {
	 vertical-align: bottom; 
	 }
	 
.tdUp 
	 {
	 vertical-align: top; 
	 }
	 
	 
td   {
     font-family: 'Orienta', sans-serif;
     }
	 
#showToday 
   {
    background: PowderBlue; /* Синий цвет фона */ 
    color: Black;
    font-size: 10pt; /* Размер шрифта в пунктах */
	width:197px;
	height: 30px;
	font-weight: bold;
   }

#showHistory 
   {
    background: Bisque;
    color: Black;
    font-size: 10pt; /* Размер шрифта в пунктах */
	width:197px;
	height: 30px;
	font-weight: bold;
   }	 
#showHistoryCur 
   {
    margin-left: 35px;
	
   }	 
#showComBank 
   {
    background: Thistle; 
    color: Black; /* Белые буквы */ 
    font-size: 10pt; /* Размер шрифта в пунктах */
	width:197px;
	height: 30px;
	font-weight: bold;
	
   }
#tableBanks, #comBanks 
   {
	 background: Thistle; 
	 width: 600px;  
	 height: 250px;
   } 
 
#hisStart, #hisEnd {
  width: 240px;
  text-align: center;
  font-size: 14px;
  margin: 15px 20px 40px 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: gray;
  border-radius: 3px;
}
#hisEnd:hover, #hisStart:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
#todayCur, #tableTodayCur,#table1
    { 
	 background: PowderBlue; 
	 width: 600px;
	 
	 }
#historyCur
    { 
	 width: 320px;
     margin-left: 4px;
	 display: inline-block;
	 vertical-align: middle;
	 }	
	
#leftBorder  
    {
	 width: 30px;
	 height: 130px;
	 display: inline-block;
	 vertical-align: top;
     padding-left:15px;
	 font-family: 'Orienta', sans-serif; 
	}
#workButtons
    { 
	 width: 210px;
	 height: 200px;
	 display: inline-block;
	 vertical-align: top;
	}

#showCurHistory {
  position: relative;
  display: inline-block;
  width: 200px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
  margin: 0px 60px 20px 60px;
}
#chCur {
  margin: 20px 20px 20px 20px;
  width: 150px;
  color: white;
  text-align: center;
  border-color: #FDBE33 #000 #D77206;
  border-width: 2px 0;
  border-style: solid;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 3px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
}

ul{
	font-size: 16px;
	font-family: 'Orienta', sans-serif;
	position: relative;
}

i {
	margin-left: 60px;
	margin-top: 30px;
	
}
#span1 {
	margin-left: 130px;
	margin-top: 20px;	
	font-family: 'Orienta', sans-serif; 
}
#span2 {
	margin-left: 200px;
	margin-top: 20px;	
	font-family: 'Orienta', sans-serif; 
}
#span3 {
	margin-left: 80px;
	margin-top: 20px;	
	font-family: 'Orienta', sans-serif; 
}
#logoAlfa {
    width: 100px;
	height:60px;
	margin: 20px 0px 20px 20px;
    border: 1px solid red;	
    background: white;
	display: inline-block;
}

#AlfaCurBuy {
    width:200px;
	margin: 20px 0px 20px 20px;	
    display: inline-block;
	vertical-align: top;

}

