 
input[name=currency]
	 {
	 background-color:WhiteSmoke;
     width:200px;
	 }
input[name=ammount]
	 {
	 background-color:White;
     width:200px;
	 }
	 
.b1 
   {
    background: PowderBlue; /* Синий цвет фона */ 
    color: Black; /* Белые буквы */ 
    font-size: 10pt; /* Размер шрифта в пунктах */
	width:160px;
	height: 30px;
   }

.b2 
   {
    background: Bisque; /* Синий цвет фона */ 
    color: Black; /* Белые буквы */ 
    font-size: 10pt; /* Размер шрифта в пунктах */
	width:160px;
	height: 30px;
	 
   }	 
	 
.b3 
   {
    background: Thistle; /* Синий цвет фона */ 
    color: Black; /* Белые буквы */ 
    font-size: 10pt; /* Размер шрифта в пунктах */
	width:160px;
	height: 30px;
   }
   
td
   { background: PowderBlue; }
